
.login-page__main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page__form-container {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background: rgba(190, 24, 255, 0.1);
    border: 0 solid;
    border-radius: 10px;
    width: 350px;
}

.login-page__submit-button {
    font-weight: bold;
    margin-top: 20px;
}
