:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Italic'),
          local('Roboto-Italic'),
          url('./assets/fonts/Roboto-Italic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Medium'),
          local('Roboto-Medium'),
          url('./assets/fonts/Roboto-Medium.woff2') format('woff2'),
          url('./assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto ExtraLight'),
          local('Roboto-ExtraLight'),
          url('./assets/fonts/Roboto-ExtraLight.woff2') format('woff2'),
          url('./assets/fonts/Roboto-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Light Italic'),
          local('Roboto-LightItalic'),
          url('./assets/fonts/Roboto-LightItalic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Regular'),
          local('Roboto-Regular'),
          url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
          url('./assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Medium Italic'),
          local('Roboto-MediumItalic'),
          url('./assets/fonts/Roboto-MediumItalic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto ExtraLight Italic'),
          local('Roboto-ExtraLightItalic'),
          url('./assets/fonts/Roboto-ExtraLightItalic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Light'),
          local('Roboto-Light'),
          url('./assets/fonts/Roboto-Light.woff2') format('woff2'),
          url('./assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto ExtraBold Italic'),
          local('Roboto-ExtraBoldItalic'),
          url('./assets/fonts/Roboto-ExtraBoldItalic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Bold'),
          local('Roboto-Bold'),
          url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
          url('./assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto ExtraBold'),
          local('Roboto-ExtraBold'),
          url('./assets/fonts/Roboto-ExtraBold.woff2') format('woff2'),
          url('./assets/fonts/Roboto-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Bold Italic'),
          local('Roboto-BoldItalic'),
          url('./assets/fonts/Roboto-BoldItalic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto SemiBold'),
          local('Roboto-SemiBold'),
          url('./assets/fonts/Roboto-SemiBold.woff2') format('woff2'),
          url('./assets/fonts/Roboto-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Black Italic'),
          local('Roboto-BlackItalic'),
          url('./assets/fonts/Roboto-BlackItalic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Black'),
          local('Roboto-Black'),
          url('./assets/fonts/Roboto-Black.woff2') format('woff2'),
          url('./assets/fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Thin'),
          local('Roboto-Thin'),
          url('./assets/fonts/Roboto-Thin.woff2') format('woff2'),
          url('./assets/fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto Thin Italic'),
          local('Roboto-ThinItalic'),
          url('./assets/fonts/Roboto-ThinItalic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto SemiBold Italic'),
          local('Roboto-SemiBoldItalic'),
          url('./assets/fonts/Roboto-SemiBoldItalic.woff2') format('woff2'),
          url('./assets/fonts/Roboto-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
